# Виртуальное окружение
venv/
.venv/

# Python кеши
__pycache__/
*.py[cod]

# Логи
*.log

# База данных SQLite
db.sqlite3


# Файл с переменными окружения
.env

# Медиа файлы
media/
/staticfiles/
*/media/*
!media/__init__.py
# IDE и системные файлы
.vscode/
.idea/
.DS_Store
