# Виртуальное окружение
venv/
.venv/

# Python-файлы кэша
__pycache__/
*.py[cod]

# Логи
*.log

# База данных (если SQLite)
db.sqlite3

# Файлы среды
.env

# IDE и системные файлы
.vscode/
.idea/
.DS_Store
