# Виртуальное окружение
venv/
.venv/

# Python кеши
__pycache__/
*.py[cod]

# Логи
*.log

# База данных SQLite
db.sqlite3

# Файл с переменными окружения
.env

# Медиа и статика
/media/
/staticfiles/

# IDE и системные файлы
.vscode/
.idea/
.DS_Store

# Миграции (если хочешь игнорировать, но не рекомендую)
/*/migrations/
!*/migrations/__init__.py

# node_modules (если фронтенд есть)
node_modules/
