body{
    background-color: white;
}

.btn-outline-primary.active {
    background-color: #007bff;
    color: white;
}

/* Стили для формы в модальном окне */
.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #007bff;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-title {
    font-weight: bold;
}

.modal-body input,
.modal-body textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-body label {
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Стили для модального окна */
.modal-content {
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-header {
    background-color: #007bff;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.modal-title {
    font-weight: bold;
}

.modal-body input,
.modal-body textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.modal-body input:focus,
.modal-body textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.modal-body label {
    font-weight: bold;
    margin-bottom: 5px;
}

.button-events-type {
    background-color: rgb(40, 72, 133, 100%);
    border: none;
    padding: 10px 35px;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    margin: 5px;
    transition: .4s;
}

.button-events-type:hover {
    background-color: rgb(228, 57, 39, 100%);
}

.button-events-type.active {
    background-color: rgb(228, 57, 39, 100%);
}

.card{
    background-color: rgb(255, 255, 255) !important;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.493);
    color: white;
}

.card-img-top{
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
}

.link_to_events_detail{
    text-decoration: none;
    color: rgb(0, 0, 0);
}