{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Главная страница" %}{% endblock title %}

{% block content %}

<div class="border-1">
    <div class="container">
        {% if main_image and main_image.image %}
            <img src="{{ main_image.image.url }}" class="img-index-main card-img-main" alt="{% trans 'Главное изображение' %}">
        {% else %}
            <p>{% trans 'Изображение не найдено' %}</p>
        {% endif %}
    </div>
</div>

<!-- Красивый фон + заголовок -->
<div class="header-container">
    <div class="container text-center" id="index-main-welcome-text">
        <h1>{% trans "Дорогой гость!" %}</h1>
        <p>
            {% blocktrans %}
            Добро пожаловать на страницу мероприятий AlmaU. Здесь вы можете узнать о запланированных конференциях,
            семинарах, гостевых лекциях, развлекательных ивентах нашего университета.<br>
            Если вас заинтересовало определенное мероприятие, у вас есть возможность посетить его по предварительной записи.
            Регистрация доступна в карточке каждого мероприятия. Ждем вас в AlmaU! 💙
            {% endblocktrans %}
        </p>
    </div>
</div>

<br><br>
<div class="container text-center mb-4">
    <div class="event-type-buttons d-none d-md-flex">
        <a href="?" class="button-events-type {% if not selected_event_type %}active{% endif %}" style="background-color: #007bff; text-decoration: none;" onclick="toggleActive(this)">{% trans "Все" %}</a>

        {% for event_type in event_types %}
            {% if event_type.name == "Развлекательные мероприятия" %}
                <!-- Выпадающий список для Развлекательных мероприятий -->
                <div class="dropdown">
                    <button class="button-events-type dropdown-toggle" data-bs-toggle="dropdown" style="background-color: {{ event_type.color }};">
                        {{ event_type.styled_name }}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="?event_type={{ event_type.id }}">{% trans "Все мероприятия" %}</a></li>
                        {% for subcategory in subcategories %}
                            <li><a class="dropdown-item" href="?event_type={{ event_type.id }}&subcategory={{ subcategory.id }}">{{ subcategory.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <a href="?event_type={{ event_type.id }}"
                   class="button-events-type {% if selected_event_type == event_type.id|stringformat:'s' %}active{% endif %}"
                   onclick="toggleActive(this)">
                    {{ event_type.styled_name }}
                </a>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Мобильная версия: Выпадающий список -->
    <div class="event-type-dropdown d-md-none">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                {% trans "Выберите тип мероприятия" %}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="?">{% trans "Все" %}</a></li>
                {% for event_type in event_types %}
                    <li>
                        <a class="dropdown-item" href="?event_type={{ event_type.id }}">{{ event_type.name }}</a>
                        {% if event_type.name == "Развлекательные мероприятия" %}
                            <ul class="submenu">
                                {% for subcategory in subcategories %}
                                    <li><a class="dropdown-item" href="?event_type={{ event_type.id }}&subcategory={{ subcategory.id }}">{{ subcategory.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!-- Блок с мероприятиями -->
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for event in events %}
        <div class="col">
            <a href="{% url 'event_detail' event.id %}" class="event-card" style="text-decoration: none;">
                <div class="card shadow-sm">
                    {% if event.image %}
                        <img src="{{ event.image.url }}" class="card-img-top card-img-top-2" alt="{% trans 'Изображение события' %}">
                    {% else %}
                        <img src="/static/default.png" class="card-img-top" alt="{% trans 'Изображение по умолчанию' %}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ event.title }}</h5>
                        <span><strong></strong> {{ event.date }}</span>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    function toggleActive(button) {
        button.classList.toggle('active');
    }

    function changeEventType(select) {
        window.location.href = select.value;
    }
</script>

{% endblock %}
